@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.page {
  width: 100%;
  min-width: 320px;
  font-family: "Roboto", "Arial", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  padding: 0 calc(50% / 3 - 105px);
  display: flex;
  background: #ffffff;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0 20px;
  }
}

@media screen and (max-width: 676px) {
  .header {
    padding: 0;
  }
}

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1170px;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .header__content {
    flex-wrap: wrap;
  }
}

.logo {
  width: 135px;
  height: 30px;
  background: url("https://im0-tub-ru.yandex.net/i?id=330d1d70bcaf69b652197627302e95a4-sr&n=13")
    no-repeat -17px -2px/48%;
  transition: all 0.7s;
}

.logo:hover {
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1),
    0px 0px 20px rgba(128, 128, 128, 0.03);
  transform: scale(1.05);
}

.logo_place_header {
  margin: 25px 60px 25px 0;
}

@media screen and (max-width: 768px) {
  .logo_place_header {
    margin-right: 50px;
  }
}

@media screen and (max-width: 676px) {
  .logo_place_header {
    margin: 17px auto 16px 21px;
  }
}

.logo__pic {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: -20px -75px;
  transform: translateX(40px);
}

.form-search {
  background: #ffffff;
  border: 1px solid #ebebf1;
  box-sizing: border-box;
  border-radius: 5px;
  flex: 1;
  min-height: 40px;
  display: flex;
  align-items: center;
  padding: 0 8px;
  max-width: 763px;
}

@media screen and (max-width: 676px) {
  .form-search {
    flex: unset;
    border-radius: unset;
    width: 100%;
    order: 3;
    border: none;
    border-top: 1px solid #ebebf1;
    min-height: 42px;
    padding: 0 19px;
  }
}

.form-search__label_type_text-input {
  flex: 1;
}

.form-search__submit {
  width: 24px;
  height: 24px;
  margin-right: 3px;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  transition: all 0.5s;
}

@media screen and (max-width: 676px) {
  .form-search__submit {
    margin-bottom: 1px;
  }
}

.form-search__submit:hover {
  cursor: pointer;
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1),
    0px 0px 20px rgba(128, 128, 128, 0.03);
  border-radius: 50%;
  transform: scale(1.1);
}

.form-search__submit:before,
.form-search__submit:after {
  content: "";
  display: block;
  position: absolute;
}

.form-search__submit:before {
  width: 11px;
  height: 11px;
  top: 3px;
  left: 4px;
  border: 2px #768298 solid;
  border-radius: 100%;
}

.form-search__submit:after {
  width: 2px;
  height: 8px;
  top: 14px;
  left: 18px;
  background: #768298;
  transform: rotate(-45deg);
}

.form-search__input {
  border: none;
  width: 100%;
  font-family: inherit;
  padding-left: 3px;
  padding-bottom: 3px;
}

.form-search__input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #bbc4d6;
}

.menu {
  width: 149px;
  min-height: 80px;
  display: flex;
}

.menu_place_header {
  margin-left: 60px;
  border-left: 1px solid #ebebf1;
}

@media screen and (max-width: 768px) {
  .menu_place_header {
    margin-left: 50px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 676px) {
  .menu_place_header {
    margin-left: auto;
    border: unset;
    width: unset;
    min-height: unset;
  }
}

.menu__profile {
  margin: auto;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  transition: all 0.5s;
  text-decoration: none;
}

.menu__profile:hover {
  cursor: pointer;
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1),
    0px 0px 10px rgba(164, 164, 164, 0.03);
  border-radius: 0 35% 35% 0;
}

@media screen and (max-width: 676px) {
  .menu__profile {
    width: 24px;
    height: 24px;
    margin-right: 21px;
    position: relative;
    overflow: hidden;
  }
  .menu__profile:hover {
    transform: scale(1.1);
    border-radius: 20%;
  }
  .menu__profile:before,
  .menu__profile:after {
    content: "";
    display: block;
    position: absolute;
  }
  .menu__profile:before {
    width: 10px;
    height: 10px;
    top: 5px;
    left: 50%;
    border: 2px solid #34aadd;
    border-radius: 100%;
    transform: translateX(-50%);
    box-sizing: border-box;
  }
  .menu__profile:after {
    width: 16px;
    height: 16px;
    top: 16px;
    left: 50%;
    border: 2px solid #34aadd;
    border-radius: 100%;
    transform: translateX(-50%);
    box-sizing: border-box;
  }
}

.menu__profile-name {
  margin: 0 10px 0 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #768298;
  padding-top: 2px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .menu__profile-name {
    padding-left: 3px;
    padding-top: 0;
    margin: 0 9px 0 15px;
  }
}

@media screen and (max-width: 676px) {
  .menu__profile-name {
    display: none;
  }
}

.menu__profile-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url("https://images.unsplash.com/photo-1617730444974-8b904644c7bd?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTIyfHxmYWNlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60")
    no-repeat center/cover;
}

@media screen and (max-width: 676px) {
  .menu__profile-avatar {
    display: none;
  }
}

.content {
  max-width: 1440px;
  padding: 0 135px;
  box-sizing: border-box;
}

@media screen and (max-width: 1440px) {
  .content {
    padding: 0 calc(50% / 3 - 105px);
    box-sizing: unset;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 0 20px;
  }
}

.partners {
  padding: 70px 0;
}

@media screen and (max-width: 768px) {
  .partners {
    padding: 70px 0;
  }
}

.section-title {
  font-style: normal;
  font-weight: 500;
  font-size: max(1.75em, min(2.25em, 3.5vw));
  line-height: 160%;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 1px;
}

@media screen and (max-width: 768px) {
  .section-title {
    padding-bottom: 11px;
  }
}

.container-cards {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 460px) {
  .container-cards {
    flex-direction: column;
  }
}

.card {
  list-style-type: none;
  background: #ffffff;
  border: 1px solid #ebebf1;
  box-sizing: border-box;
  border-radius: 5px;
  width: calc(25% - 22.5px);
  min-width: 190px;
  height: 120px;
  padding: 27px 17px;
  transition: all 0.5s;
  margin: 0;
}

.card:hover {
  cursor: pointer;
  box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1),
    0px 0px 10px rgba(164, 164, 164, 0.03);
}

@media screen and (max-width: 1024px) {
  .card {
    width: calc(100% / 3 - 20px);
  }
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(100% / 3 - 13.4px);
  }
}

@media screen and (max-width: 676px) {
  .card {
    width: calc(50% - 10px);
    height: 140px;
  }
}

@media screen and (max-width: 460px) {
  .card {
    width: 100%;
  }
}

.card_type_logo {
  margin-top: 30px;
  margin-right: 30px;
}

.card_type_logo:nth-child(4n) {
  margin-right: 0;
}

@media screen and (max-width: 1024px) {
  .card_type_logo:nth-child(4n) {
    margin-right: 30px;
  }
  .card_type_logo:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .card_type_logo {
    margin-top: 20px;
    margin-right: 20px;
  }
  .card_type_logo:nth-child(4n) {
    margin-right: 20px;
  }
  .card_type_logo:nth-child(3n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 676px) {
  .card_type_logo:nth-child(3n) {
    margin-right: 20px;
  }
  .card_type_logo:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (max-width: 460px) {
  .card_type_logo {
    margin: 20px 0 0 0;
  }
  .card_type_logo:nth-child(n) {
    margin-right: 0;
  }
}

.card__link {
  display: block;
  width: 100%;
  height: 100%;
}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
